<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css"
    <title> Fred's Here </title>
  </head>
  <body>

    <header>

      <a href="/"> Fred is Here</a>

    </header>

    <main>

      <%= yield  %>

    </main>


    <footer>

      <a href="/about"> About Us </a>
      |
      <a href="/contact"> Contact </a>
      |
      <a href="/legalese"> Legalese </a>

    </footer>



  </body>
</html>
